/*****************************************************/
/* Default                                           */
/*****************************************************/
.tradeModuleTop {
}

.tradeSwitchContainer {
  display: flex;
  margin: 0.5em 0;
  padding: 0 2em;
  gap: 1em;
}

.swapLinkContainer,
.poolLinkContainer {
  width: 100%;
  padding: 0.75em;
  cursor: pointer;
  font-size: 1.2em;
  opacity: 0.5;
}

.swapLinkContainer.active,
.poolLinkContainer.active {
  opacity: 1;
  pointer-events: none;
}

.swapLinkContainer {
  text-align: end;
}

.poolLinkContainer {
  text-align: start;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
