/*****************************************************/
/* Default                                           */
/*****************************************************/
.navWeb3Container {
  grid-area: web3;
  position: sticky;
  top: 0;
  /* width: 100%; */
  height: 56px;
  background: var(--darkBlueColor);
  border-top: none;
  border-bottom: var(--borderDarkMustard);
}

.navWeb3 {
  display: flex;
  gap: 1em;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
  .navWeb3Container {
    top: 0;
    width: auto;
    height: 64px;
    border-top: none;
    border-bottom: var(--borderDarkMustard);
    transition: top 0.3s;
  }
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
