/*****************************************************/
/* Default                                           */
/*****************************************************/
.home {
}

.homeSegmentLane {
  /* background: green; */
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.homeSegmentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 992px;
  overflow: hidden;
}

/*****************************************************/
/*First Segment***************************************/
.firstHomeSegment {
  display: flex;
}

.firstHomeSegmentContentTop {
  font-weight: bold;
  font-size: 4em;
}

.firstHomeSegmentContentMiddle {
  font-size: 1.5em;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
