/*****************************************************/
/* Default                                           */
/*****************************************************/
.home {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

.homeSegmentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 1em;
  margin-right: 1em; */
  margin-top: 2em;
}

/*******************************************************/
/*Generic Segment***************************************/
.homeSegment {
  display: flex;
  flex-direction: column;
  max-width: 992px;
  margin-bottom: 10em;
  margin-left: 1em;
  margin-right: 1em;
}

.homeSegmentContent {
  display: flex;
  flex-direction: column;
}

.homeSegmentContentTop {
  font-weight: bold;
  font-size: 3em;
}

.homeSegmentContentMiddle {
  font-size: 1em;
  margin-bottom: 1em;
}

.homeSegmentContentBottom {
  display: flex;
  gap: 1em;
}

.homeSegmentImage {
  display: flex;
  justify-content: center;
}

/*******************************************************/
/*Segment 2 specifics***********************************/
.segment2Background {
  display: flex;
  justify-content: center;
  padding-top: 4em;
  padding-bottom: 2em;
  width: 100%;
  background: var(--lightBlueColor);
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 80.3%);
}

.segment2.homeSegment {
  position: relative;
}

.segment2.homeSegmentContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 700px;
}

.segment2.homeSegmentContentTop {
  font-size: 2em;
}

/*******************************************************/
/*Segment 3 specifics***********************************/

.segment3.homeSegmentContentTop {
  font-size: 2em;
}

.segment3.homeSegmentContent {
  margin-left: 0;
}

.segment3.homeSegmentImage {
}

#blockchainIcon {
  aspect-ratio: 1;
  width: 100%;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/
@media (min-width: 992px) {
  .homeSegment {
    flex-direction: row;
  }

  .homeSegmentContentTop {
    font-size: 4em;
  }

  .homeSegmentContentMiddle {
    font-size: 1.5em;
  }

  /*******************************************************/
  /*Segment 2 specifics***********************************/
  .segment2Background {
    clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 100%);
  }

  /*******************************************************/
  /*Segment 3 specifics***********************************/
  .segment3.homeSegmentContent {
    margin-left: 4em;
  }

  .segment3.homeSegmentImage {
  }
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
