/*****************************************************/
/* Default                                           */
/*****************************************************/
.dropdown {
  position: absolute;
  z-index: 9000;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background: var(--darkMustardColor);
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  border-top: var(--borderDarkBlue);
  border-left: var(--borderDarkBlue);
  border-right: var(--borderDarkBlue);
  border-bottom: unset;
}

.dropdownSubmenu {
  margin-left: 0.5em;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
  .dropdown {
    width: 16em;
    top: 100%;
    transform: translateY(0%);
    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
    border-bottom: var(--borderDarkBlue);
    border-left: var(--borderDarkBlue);
    border-top: unset;
    border-right: var(--borderDarkBlue);
  }
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
