/*****************************************************/
/* Default                                           */
/*****************************************************/
.tradeContainer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.swapModule {
  width: 325px;
  background: var(--twoColoredBlue);
  border: var(--borderDarkMustard);
  border-radius: var(--borderRadius);
}

/* Top **********************************************/
.swapModuleTop {
}

.tradeSwitchContainer {
  display: flex;
  margin: 0.5em 0;
  padding: 0 2em;
  gap: 1em;
}

.swapContainer,
.liquidityContainer {
  width: 100%;
  padding: 0.75em;
  cursor: pointer;
  font-size: 1.2em;
  opacity: 0.5;
}

.swapContainer.active,
.liquidityContainer.active {
  opacity: 1;
  pointer-events: none;
}

.swapContainer {
  text-align: end;
}

.liquidityContainer {
  text-align: start;
}

/* Middle*********************************************/
.swapModuleMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 0.5em;
}

.fromCCYcontainer,
.toCCYContainer {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: var(--borderDarkMustard);
  border-radius: var(--borderRadius);
}

.fromCCYTop,
.toCCYTop {
  display: flex;
  justify-content: space-between;
  font-size: small;
  opacity: 0.8;
}

.fromCCYBottom,
.toCCYBottom {
  display: flex;
}

.fromCCYAmount,
.toCCYAmount {
  width: 100%;
  text-align: end;
}

.switchDirectionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0.5em;
  border-radius: var(--borderRadius);
  cursor: pointer;
}

.switchDirectionContainer:hover {
  background: var(--darkMustardColor);
}

.switchDirectionContainer > img {
  filter: invert();
  aspect-ratio: 1;
  width: 24px;
}

/* Bottom*********************************************/
.swapModuleBottom {
  text-align: center;
  padding: 1em 2em 2em 2em;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
  .tradeContainer {
    margin-top: 20vh;
    left: 0;
  }
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
