/*****************************************************/
/* Default                                           */
/*****************************************************/
.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 9000;
}

.menuItem.subMenu {
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  transition: background 0.25s ease;
  cursor: pointer;
}

.menuItem.subMenu:hover {
  background: var(--lightMustardColor);
}

.subMenuItemTitle {
  margin: 1em 0;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
  .menuItem {
    position: relative;
  }

  .menuItem.subMenu {
    justify-content: flex-start;
    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
  }

  .subMenuItemTitle {
    margin-left: 1em;
    margin-right: 1em;
  }
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
