/*****************************************************/
/* Default                                           */
/*****************************************************/
.navbarContainer {
  grid-area: navbar;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background: var(--darkBlueColor);
  border-top: var(--borderDarkMustard);
  border-bottom: none;
}

.navMenu {
  display: flex;
  gap: 1em;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
  .navbar {
    top: 0;
    border-top: none;
    border-bottom: var(--borderDarkMustard);
  }
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
