/*****************************************************/
/* Default                                           */
/*****************************************************/
.navMenuContainer {
  grid-area: navbar;
  position: sticky;
  z-index: 9000;
  bottom: 0;
  height: 78px;
  display: flex;
  align-items: center;
  background: var(--darkBlueColor);
  border-top: var(--borderDarkMustard);
  border-bottom: none;
}

.brandLogoNav {
  display: none;
}

.brandTitleNav {
  display: none;
}

.navMenu {
  display: flex;
  /* position: relative; */
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  gap: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
  .navMenuContainer {
    top: 0;
    height: 64px;
    border-top: none;
    border-bottom: var(--borderDarkMustard);
    transition: top 0.3s;
    padding-left: 1em;
  }

  .brandLogoNav {
    display: unset;
    aspect-ratio: 1;
    width: 40px;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .brandTitleNav {
    display: unset;
    color: var(--lightMustardColor);
    margin-right: 4em;
    font-weight: bold;
  }

  .navMenu {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
