/*****************************************************/
/* Default                                           */
/*****************************************************/
.topContainer {
  width: 100%;
  height: 64px;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
  .desktopNavigationPane {
    position: fixed;
    z-index: 9000;
    width: 100%;
    height: 64px;
    background: var(--darkBlueColor);
    border-bottom: var(--borderDarkMustard);
  }
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
