/* Generic button class */
.iconButton {
  min-width: 48px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: background 0.25s ease;
}

.iconButton:hover {
  background: var(--darkMustardColor);
}

/* IconButtonText */
.iconButtonIMGText {
  width: 28px;
  height: 28px;
  filter: invert(100%);
  margin-top: 0.2em;
}

.iconButtonTitle {
  font-size: 0.65em;
}

/* IconButton */
.iconButtonIMG {
  width: 40px;
  height: 40px;
  filter: invert(100%);
}

/*****************************************************/
/*****************************************************/
.buttonContainer {
  cursor: pointer;
  background: var(--lightBlueColor);
  border: var(--borderLightBlue);
  border-radius: var(--borderRadius);
  transition: background 0.25s ease;
}

.buttonContainer:hover {
  background: var(--darkMustardColor);
}

.buttonTextOnly {
  margin: 8px 16px;
}

.buttonContainer.highlightBG {
  background: var(--highlightColor);
  cursor: pointer;
}

.buttonContainer.highlightBG:hover {
  background: var(--darkMustardColor);
}

.buttonContainer.highlightDarkBG {
  background: var(--highlightColor);
  cursor: pointer;
}

.buttonContainer.highlightDarkBG:hover {
  background: var(--darkMustardColor);
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
  .iconButtonIMGText {
    display: none;
  }

  .iconButtonTitle {
    font-size: 1em;
  }
}
