/* Generic button class */
.iconButton {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius);
  cursor: pointer;
  border: var(--borderLightBlue);
  transition: background 0.25s ease;
}

.iconButton:hover {
  background: var(--lightBlueColor);
}

/* IconButtonText */
.iconButtonIMGText {
  width: 28px;
  height: 28px;
  filter: invert(100%);
  margin-top: 0.2em;
}

.iconButtonTitle {
  font-size: 0.65em;
}

/* IconButton */
.iconButtonIMG {
  width: 40px;
  height: 40px;
  filter: invert(100%);
}
