/*****************************************************/
/* Default                                           */
/*****************************************************/
.aboutPart {
  margin-top: 3em;
}

.aboutTitle {
  color: var(--darkMustardColor);
  font-weight: bold;
}

.aboutItem {
  margin: 0.4em 0;
  cursor: pointer;
}

.aboutItem:hover {
  color: var(--darkMustardColor);
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
  .aboutContainer {
    display: flex;
    justify-content: flex-start;
    gap: 10em;
  }

  .aboutItem:hover {
    text-decoration: var(--borderDarkMustard) underline;
    color: unset;
  }
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
