/*****************************************************/
/* Default                                           */
/*****************************************************/
.footerContainer {
  grid-area: footer;
}

.footer {
  background: var(--twoColoredBlue);
  border-top: var(--borderLightMustard);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
  .footer {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10vw;
  }
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
