/*****************************************************/
/* Default                                           */
/*****************************************************/
.impressumContainer {
  margin-top: 3em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.singleImpressum {
  cursor: pointer;
  font-size: x-small;
}

.singleImpressum:hover {
  color: var(--darkMustardColor);
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
  .impressumContainer {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .singleImpressum:hover {
    text-decoration: var(--borderDarkMustard) underline;
    color: unset;
  }
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
