/*****************************************************/
/* Default                                           */
/*****************************************************/
.socialContainer {
  margin-top: 3em;
  display: flex;
  gap: 1em;
}

.singleSocial {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.twitterLogo,
.discordLogo,
.telegramLogo,
.mediumLogo,
.redditLogo {
  position: relative;
  width: 40px;
  aspect-ratio: 1;
  filter: invert(99%) sepia(60%) saturate(118%) hue-rotate(198deg)
    brightness(113%) contrast(92%);
  margin: 4px;
  z-index: 0;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
