/*****************************************************/
/* Default                                           */
/*****************************************************/
.scrollTopButton {
  display: unset;
  position: fixed; /* Fixed/sticky position */
  bottom: 6em; /* Place the button at the bottom of the page */
  right: 1em; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--highlightColor); /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0.5em; /* Some padding */
  border-radius: var(--borderRadius); /* Rounded corners */
  border: var(--borderDarkBlueColor);
}

.scrollTopButton.hideButton {
  display: none;
}

.scrollTopButton:hover {
  background-color: var(
    --darkMustardColor
  ); /* Add a dark-grey background on hover */
}

.topArrowIcon {
  filter: invert();
  aspect-ratio: 1;
  width: 1.5em;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
