/*****************************************************/
/* Default                                           */
/*****************************************************/
.App {
  display: grid;
  grid-template-areas:
    "web3     web3    web3   web3   web3   web3   web3   web3   web3   web3"
    "leftSide main    main   main   main   main   main   main   main   rightSide"
    "footer   footer  footer footer footer footer footer footer footer footer"
    "navbar   navbar  navbar navbar navbar navbar navbar navbar navbar navbar";
  grid-template-rows: 56px minmax(calc(100vh - 112px), auto) auto 56px;
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-columns: 0.5fr 9fr 0.5fr; */
  z-index: 1;
  position: relative;
}

/*****************************************************/
/* Small devices (landscape phones, 576px and up)    */
/*****************************************************/
@media (min-width: 576px) {
}

/*****************************************************/
/* Medium devices (tablets, 768px and up)            */
/*****************************************************/
@media (min-width: 768px) {
  .App {
    grid-template-columns: 1fr 8fr 1fr;
  }
}

/*****************************************************/
/* Large devices (desktops, 992px and up)            */
/*****************************************************/

@media (min-width: 992px) {
  .App {
    grid-template-areas:
      "navbar   navbar  navbar navbar navbar navbar navbar navbar navbar navbar web3 web3 web3 web3 web3 web3 web3 web3 web3 web3"
      "leftSide leftSide    main   main   main   main   main   main   main main main main main main main main main main rightSide   rightSide"
      "footer   footer  footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-template-rows: 64px minmax(calc(100vh - 64px), auto) auto;
    grid-template-columns: repeat(20, 0.5fr);
  }
}

/*****************************************************/
/* X-Large devices (large desktops, 1200px and up)   */
/*****************************************************/
@media (min-width: 1200px) {
}

/*****************************************************/
/* XX-Large devices (larger desktops, 1400px and up) */
/*****************************************************/
@media (min-width: 1400px) {
}
